<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="FileAppender"
			fileName="./logs/MarketMonarch-${date:yyyyMMdd}.log"
			immediateFlush="true" append="true">
			<PatternLayout
				pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com.rickauer.marketmonarch.MarketMonarch" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.configuration.ConfigReader" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.configuration.FileSupplier" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.reporting.LineGraphCreator" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.reporting.HealthChecker" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>	
		<Logger name="com.rickauer.marketmonarch.api.request.InteractiveBrokersApiRequestHandler" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.controller.InteractiveBrokersApiControllerr" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.controller.StockNewsRequestController" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.controller.AlphaVantageRequestController" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.controller.FmpRequestController" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>		
		<Logger name="com.rickauer.marketmonarch.api.request.RequestHandler" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.db.DBAccess" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.StockAnalysisManager" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.pretrade.PreTradeAccountValidationState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.pretrade.PreTradeDataFetchingState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.pretrade.PreTradeMarketScanningState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.pretrade.PreTradeFilterByFloatState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.pretrade.PreTradeRequestHistoricalDataState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.pretrade.PreTradeFilterByProfitLossState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.pretrade.PreTradeReduceToNState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.trade.TradeEntryScanningState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Logger name="com.rickauer.marketmonarch.api.data.processing.trade.TradeBuyProcessingState" level="trace"
			additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Logger>
		<Root level="trace">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>